/* Original code made by https://github.com/Mentor404/ */
/* snippets */
@import url(https://anzuftnw.github.io/files/bg-fix.css);

/* settings */
:root {
  --bg-img: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Black_Wallpaper.jpg/2560px-Black_Wallpaper.jpg");
  --bg-clr: unset;
  --bg-scr: fixed;
  --bg-pos: center;
  --bg-rpt: no-repeat;
  --bg-sze: cover;
}

/* code */
.page-content > .user {
  background-attachment: var(--bg-scr) !important;
  background-color: rgb(0, 0, 0);
  background-position: var(--bg-pos) !important;
  background-repeat: var(--bg-rpt) !important;
  background-size: var(--bg-sze) !important;
