:root{
    --background: url("https://i.imgur.com/zrE4nL5.jpg");
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}
