/* Original code made by https://github.com/Mentor404/ */
/* snippets */
@import url(https://anzuftnw.github.io/files/bg-fix.css);

/* settings */
:root {
  --bg-img: url("https://i.pinimg.com/originals/0d/86/db/0d86db583c7b7effafe8d6b4dbd56f83.jpg");
  --bg-clr: unset;
  --bg-scr: fixed;
  --bg-pos: center;
  --bg-rpt: no-repeat;
  --bg-sze: cover;
}

/* code */
.page-content > .user {
  background-attachment: var(--bg-scr) !important;
  background-image: var(--bg-img) !important;
  background-color: var(--bg-clr) !important;
  background-position: var(--bg-pos) !important;
  background-repeat: var(--bg-rpt) !important;
  background-size: var(--bg-sze) !important;
