/* Original code made by https://github.com/Mentor404/ */
:root{
    --background: url("https://i.pinimg.com/originals/ca/c8/08/cac8082a5bfe3fb29d9d1032f328fbd6.jpg");
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
