/* Original code made by https://github.com/Mentor404/ */
:root{
    --background: url("https://i.imgur.com/yenmWCo.jpg");
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}
