:root, .site-theme-dark, .site-theme-contrast, * {

--bg-img: url(https://cdn.discordapp.com/attachments/1015768226325610507/1128855584830140446/void.png);
    --bg-clr: unset;
    --bg-scr: fixed;
    --bg-pos: center;
    --bg-rpt: no-repeat;
    --bg-sze: cover;
    --fullscreen-bg: rgb(var(--color-background));
    --fullscreen-filter: ;
    --fullscreen-banner: hidden;
    --glow-filter: drop-shadow(0 0 0.5rem #A970FF);
    --color-nav-transparent-background: var(--color-foreground), 0;
    --color-nav-transparent-text: var(--color-text);
    --color-overlay: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --color-text-bright: var(--color-white);
    --color-blue: 169, 112, 255;
    --color-blue-dim: 169, 112, 255;
    --color-red: 255, 255, 255;
    --color-green: 169, 112, 255;
    --color-footer-background: 14,12,29;
    --color-footer-text: 255, 255, 255;
    --color-nav-background: var(--color-foreground);
    --color-nav-text: var(--color-text);
    --color-background: 11,9,23;
    --color-foreground: 14,12,29;
    --color-foreground-grey: 216,120,203;
    --color-foreground-grey-dark: var(--color-foreground);
    --color-text: 255, 255, 255;
    --color-text-light: 255, 255, 255;
    --color-text-lighter: 255, 255, 255;
    --color-background-300: var(--color-background);
    --color-background-200: var(--color-background);
    --color-background-100: var(--color-foreground);
    --color-gray-900: 169, 112, 255;
    --color-gray-800: 169, 112, 255;
    --color-gray-700: var(--color-text);
    --color-gray-600: var(--color-text);
    --color-gray-300: var(--color-background);
    --color-gray-100: var(--color-foreground);
}
