.wrap .footer{
  display: grid;
  justify-content: center;
  background: linear-gradient(0deg, rgb(147, 8, 27, 0.5) 0%, rgb(147, 8, 27, 0.5),0) 200%) !important; 
}

.wrap .footer:hover{
    background: linear-gradient(0deg, rgb(147, 8, 27, 0.5) 0%, rgb(147, 8, 27, 0.5),0) 300%) !important; 
}

.wrap .footer .container .theme-selector{
  display: none;
}
