.wrap .footer{
  display: grid;
  justify-content: center;
  background: rgb(var(--color-footer-background));
}

.wrap .footer:hover{
    background: rgb(var(--color-footer-background)); 
}

.wrap .footer .container .theme-selector{
  display: none;
}
