:root {
    --logo-width: 50px;
    --logo-height: 45.42px;
    --logo-replacement: url(https://i.imgur.com/xdXXRlh.png);
    --logo-rotate: 360deg;
    --logo-transition-time: 2.0s;
    --logo-scale: 1.4;
    --head-width: 90%;
    --nav-width: 76%;
    --curvyness: 7px;
    --box-opacity: 0.5;
    --underline-time: 0.7s;
    --stats-transition-time: 1.0s;
    --background-img: url(https://files.catbox.moe/qvoz4w.jpg);
    --favourite-scale: 1.4;
    --favourite-time: 0.2s;
}
