/* Original code made by https://github.com/Mentor404/ */
@import url(https://rindou1.github.io/anilist/files/color-theme1.css);
@import url(https://rindou1.github.io/anilist/files/background1.css);
@import url(https://rindou1.github.io/anilist/files/favorites1.css);
@import url(https://rindou1.github.io/anilist/files/banner-remove.css);
@import url(https://rindou1.github.io/anilist/files/navbar1.css);
@import url(https://rindou1.github.io/anilist/files/stats.css);
@import url(https://rindou1.github.io/anilist/files/top-nav1.css);
@import url(https://rindou1.github.io/anilist/files/badges.css);
@import url("https://use.typekit.net/jze6fip.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    font-family: "sofia-pro", sans-serif;
}


.history-day:not(.lv-0):hover {
    box-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)), 0 0 20px rgb(var(--color-blue)) !important;
}

.favourite {
    transition: .3s;
}

.favourite:hover {
    box-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 5px rgb(var(--color-blue)) !important;
    scale: 1.05;
}

.footer .links > section > a:hover {
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)), 0 0 20px rgb(var(--color-blue)) !important;
}


.load-more:hover {
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)), 0 0 15px rgb(var(--color-blue)) !important;
}

.like-wrap .liked > svg {
    filter: drop-shadow(0 0 3px rgb(var(--color-blue)));
}

.like-wrap .button > svg:hover {
    filter: drop-shadow(0 0 3px rgb(var(--color-blue)));
    scale: 1.2;

}

.like-wrap .button > svg {
    transition: 0.5s;
}

.list .title {
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)) !important;
}
