:root {
  --bg-img: url("https://i.imgur.com/hNHWc7u.png");
  --bg-clr: unset;
  --bg-scr: fixed;
  --bg-pos: center;
  --bg-rpt: no-repeat;
  --bg-sze: cover;
  --fullscreen-bg: rgb(var(--color-background));
  --fullscreen-filter: none;
  --fullscreen-banner: visible; 
}

.banner {
  visibility: var(--fullscreen-banner);
}

.banner > .container {
  visibility: visible;
}

.header-wrap .nav-wrap {
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}
@media (min-width: 1540px) {
  .header-wrap .nav-wrap {
    max-width: 1380px;
  }
}
@media (min-width: 1040px) and (max-width: 1540px) {
  .header-wrap .nav-wrap {
    max-width: 1100px;
  }
}

@media (min-width: 1540px) {
  .content.container {
    padding-left: 70px;
    padding-right: 70px;
  }
}


.content .overview, .content > .medialist, .content > .favourites, .content > .stats, .content > .user-social, .content > .user-reviews, .content > .submissions {
  margin-top: -1em;
  background: var(--fullscreen-bg);
  padding: 30px;
  border-radius: 0 0 4px 4px;
  backdrop-filter: var(--fullscreen-filter);
}
