
.header-wrap {
    width: 100%;
    display: grid;
    justify-content: center;
}

@media (min-width: 1640px) {
    .header-wrap .nav-wrap {
        border-radius: 5px;
        width: 1320px;
        padding-left: 290px;
        padding-right: 290px;
    }
}
