:root, .site-theme-dark, .site-theme-contrast, * { 
  --hokaze-bt: 0.3;  /* Content Background Transparency*/
  --hokaze-ph: 0px; /* Horizontal Content Padding */
  --hokaze-maw: calc(1520px - 2 * ( 100px - var(--hokaze-ph)));
  --hokaze-ph: 20px; /* Horizontal Content Padding */
  --hokaze-pdh: var(--hokaze-pv) var(--hokaze-ph);
  --hokaze-brb: 0 0 var(--hokaze-br) var(--hokaze-br);
  --hokaze-pv: 10px; /* Vertical Content Padding */
  --hokaze-br: 1px; /* Global Border Radius */
  --hokaze-bs: rgba(0, 0, 0.5) 0px 1px 2px, /* Box Shadow */
               rgba(0, 0, 0.5) 0px 2px 4px,
               rgba(0, 0, 0.5) 0px 4px 8px,
               rgba(0, 0, 0.5) 0px 8px 16px;
}

.content.container {
  background: rgb(147, 8, 27, 0.5);
  max-width: 1038px;
  padding: 15px 15px;
  border-radius: 0px 0px 1px 1px;
}
